
/* get font "Roboto Slab" from Google */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');


/* some general rules */
* {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 32px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: darkgreen;
  box-shadow: inset 0 0 33vw rgba(0,0,0,.25), inset 0 -15vh 30vh rgba(0,0,0,.5);
  min-height: 100vh;
  overflow: hidden;
}


/* set up the basic containers */
#banner,
#backdrop,
#dealer-area,
#player-area,
#button-area {
  position: absolute;
  top: 41vh;
  left: 0;
  width: 100vw;
  text-align: center;
  line-height: 1;
  padding: 0 0 16px;
  transform: translateY(-100%);
  transition: all 200ms ease;
}
#backdrop {
  z-index: 99;
  top: 100vh;
  height: 100vh;
  background-color: transparent;
}
#backdrop.hidden {
  top: 200vh;
}
#banner {
  z-index: 100;
  top: 100vh;
  padding: 32px;
  background-color: black;
  box-shadow: 0 0 0px 1px rgba(255,255,255,0), 0 0 20px 0 rgba(0,0,0,.75);
}
#banner.hidden {
  top: 200vh;
  transition: all 200ms ease;
}
#welcome-cards {
  margin: -130px auto 32px;
}
#gambling-table {
  position: absolute;
  top: 0;
  transition: all 200ms ease;
}
#gambling-table.hidden {
  top: 100vh;
  transition: all 200ms ease;
}
#player-area {
  padding: 16px 0 0;
  transform: translateY(0);
}
#banner h2, #banner button, #player-area h2 {
  margin: 18px 0;
}
#banner-text {
  font-size: 16px;
  line-height: 1.2;
}
#banner-text br {
  font-size: 24px;
}
#button-area {
  top: 100vh;
  padding: 32px 8px;
}


/* styling of cards with unicode characters */
.cards {
  position: relative;
  padding-left: 30px;
  margin: 12px;
}
.score {
  position: absolute;
  top: 138px;
  left: 50%;
  font-size: 14px;
  background-color: black;
  border-radius: 11px;
  padding: 4px 14px;
  transform: translateX(-50%);
}
#dealer-score {
  top: auto;
  bottom: 20px;
}
.card {
  color: black;
  position: relative;
  display: inline-block;
  width: 80px;
  height: 120px;
  margin-left: -30px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  box-shadow: -2px 2px 10px 0 rgba(0,0,0,.33);
  border: 1px solid rgba(0,0,0,.3);
}
.card.heart,
.card.diamond {
  color: red;
}
.card:last-of-type {
  transform: rotate(5deg);
  transform-origin: -250% 120%;
 }
/* using :before to add suits */
.card:before {
  position: absolute;
  top: 25px;
  left: 0;
  width: 30px;
  font-size: 24px;
}
.card.spade:before { content: "♠"; }
.card.heart:before { content: "♥"; }
.card.diamond:before { content: "♦"; }
.card.club:before { content: "♣"; }
/* using :after to add values */
.card:after {
  position: absolute;
  top: 6px;
  left: 0;
  width: 30px;
  font-size: 20px;
}
.card.ace:after { content: "A"; }
.card.two:after { content: "2"; }
.card.three:after { content: "3"; }
.card.four:after { content: "4"; }
.card.five:after { content: "5"; }
.card.six:after { content: "6"; }
.card.seven:after { content: "7"; }
.card.eight:after { content: "8"; }
.card.nine:after { content: "9"; }
.card.ten:after { content: "10"; }
.card.jack:after { content: "J"; }
.card.queen:after { content: "Q"; }
.card.king:after { content: "K"; }
/* hidden card of dealer */
.card.hidden {
  background-color: #ccc;
}
.card.hidden:before {
  content: "";
}
.card.hidden:after {
  color: rgba(0,0,0,.25);
  font-size: 4vh;
  line-height: 1.1;
  content: "BLACKJACK \00a0 \00a0 \00a0 \00a0 BLACKJACK BLACKJACK \00a0 \00a0 \00a0 \00a0 BLACKJACK BLACKJACK \00a0 \00a0 \00a0 \00a0 BLACKJACK BLACKJACK";
  top: -25%;
  left: -70%;
  width: 240%;
  height: 150%;
  transform: rotate(-45deg);
  transform-origin: center;
  padding-top: 10px;
}


/* button style */
button {
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 8px 16px;
  min-width: 100px;
  border: 1px solid white;
  background-color: black;
  outline: none;
}
button:hover {
  background-color: rgb(24, 207, 0);
  color: black;
  cursor: pointer;
  border:black
}


/* some basic media query styles */
@media (min-height: 760px) {
  #banner h2, #banner button, #player-area h2 {
    margin: 36px 0;
  }
  .card {
    width: 120px;
    height: 180px;
    margin-left: -60px;
    border-radius: 10px;
  }
  .score {
    top: 198px;
    border-radius: 16px;
    padding: 6px 21px;
  }
}
